<h1>Enter New Password</h1>
<form action="/auth/change-password" method="post">
    <input type="text" name="oldPassword" required placeholder="oldPassword">
    <input type="text" name="newPassword" required placeholder="newPassword">

    <button type="submit">Submit</button>
</form>