<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JEECarnot Admin</title>
    </head>
    <body>
        <header>
            <h2>Homepage</h2>
        </header>
    </body>
</html>
